<link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
<footer>
	<div class="text">
		<p>Web created by <strong>{{ name }}</strong></p>
		<a href="/">Go to main page</a>
	</div>
 	{% include 'components/social.html' %}
	<img src="/static/images/by-sa.webp" alt="BY-SA CC license" class="license">
</footer>
