<div class="social">
	<a href="https://www.linkedin.com/in/diego-morales-5184b8245/" target="_blank">
		<img src="{{ url_for('static', filename='/images/linkedin.webp') }}" alt="Linkedin">
	</a>
	<a href="mailto:moralesromanlaura@gmail.com" target="_blank">
		<img src="{{ url_for('static', filename='/images/mail.webp') }}" alt="mail">
	</a>
	<a href="https://github.com/LauraMoralesRoman" target="_blank">
		<img src="{{ url_for('static', filename='/images/github.webp') }}" alt="Github">
	</a>
	<a href="https://gitlab.com/LauraMR2002" target="_blank">
		<img src="{{ url_for('static', filename='/images/gitlab.webp') }}" alt="Gitlab">
	</a>
</div>
