.go-back {
  background-color: #121212;
  color: #ffffff;
  padding: 8px 24px;
  display: inline-block;
  border-radius: 100vmax;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: transform 0.15s;
}
.go-back:hover {
  transform: translateX(-50%) scale(1.05);
}

/*# sourceMappingURL=courserunner.css.map */
