@import '../vars.scss';

.go-back {
	background-color: $back-dark;
	color: $text-dark;
	padding: $padding-small $padding-large;
	display: inline-block;

	border-radius: 100vmax;

	position: relative;
	left: 50%;
	transform: translateX(-50%);

	transition: transform 0.15s;
	&:hover {
		transform: translateX(-50%) scale(1.05);
	}
}
