div.part-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: min(100ch, 90%);
  margin: auto;
}
div.part-container .part {
  display: flex;
  gap: 16px;
}
@media (max-width: 600px) {
  div.part-container .part {
    flex-direction: column;
  }
  div.part-container .part .pdf {
    text-align: center;
  }
}
div.part-container .part .main {
  padding: 16px;
  border-radius: 8px;
  background-color: #4f8bbc;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  flex-grow: 1;
  transition: all 0.15s;
}
div.part-container .part .main:hover {
  background-color: #98c379;
}
div.part-container .part .pdf {
  background-color: #d0717a;
  padding: 16px 24px;
  border-radius: 8px;
  color: #ffffff;
  transition: all 0.15s;
}
div.part-container .part .pdf:hover {
  background-color: #b17bc7;
}

header {
  width: 100vw;
  height: 100dvh;
  object-fit: fill;
  display: flex;
  justify-content: right;
  align-items: center;
  position: relative;
  margin-bottom: 24px;
}
header .wallpaper {
  overflow: hidden;
}
header .wallpaper .image {
  filter: brightness(80%) blur(2px);
}
@media (max-width: 600px) {
  header .wallpaper .image {
    object-fit: fill;
    width: 200%;
  }
}
header div.title {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  background-color: transparent;
  mask: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgb(0, 0, 0) 33%, rgb(0, 0, 0) 100%);
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: none;
  padding-right: 15ch;
  text-align: right;
  font-size: 1.3rem;
  text-shadow: 0px 0px 50px rgba(255, 255, 255, 0.5);
  color: #ffffff;
}
@media (max-width: 600px) {
  header div.title {
    padding: 24px;
    text-align: center;
    mask: none;
    justify-content: center;
  }
}
header div.title h1 {
  animation: slide-in 1s forwards;
}
header div.title p.tagline {
  transform: translateX(15%);
  animation-delay: 0.5s;
  animation: slide-in 1s forwards;
  animation-delay: 0.5s;
  opacity: 0;
  color: rgba(255, 255, 255, 0.5);
}
@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(15%);
  }
  100% {
    transform: translateX(0);
    opacity: inherit;
  }
}
header .backlink {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
  position: absolute;
  top: 24px;
  display: block;
  text-align: center;
  width: 100%;
  z-index: 10;
  transition: all 0.15s;
}
@media (max-width: 600px) {
  header .backlink {
    bottom: 24px;
  }
}
header .backlink:hover {
  transform: translateY(-0.2em);
}
header .scroll-indicator {
  position: absolute;
  bottom: 24px;
  display: block;
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 2em;
}
@keyframes bump {
  0% {
    transform: translateY(-50%);
  }
  25% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}
@media (max-width: 600px) {
  header .scroll-indicator {
    font-size: 1.4em;
  }
}
header .scroll-indicator i {
  transform: translateY(-50%);
  animation: bump 1s infinite ease-out;
}
header .scroll-indicator i:nth-child(1) {
  animation-delay: 0.2s;
}
header .scroll-indicator i:nth-child(2) {
  animation-delay: 0.4s;
}
header .scroll-indicator i:nth-child(3) {
  animation-delay: 0.6s;
}

/*# sourceMappingURL=cppcourse.css.map */
