@import '../vars.scss';

div.part-container {
	display: flex;
	flex-direction: column;
	gap: $margin-medium;

	width: min(100ch, 90%);
	margin: auto;
	.part {
		display: flex;
		gap: $margin-medium;

		@media (max-width: $mobile) {
			flex-direction: column;
			.pdf {
				text-align: center;
			}
		}

		.main {
			padding: $padding-medium;
			border-radius: $border-radius-medium;
			background-color: $highlight;
			color: $text-dark;
			font-weight: bold;

			text-decoration: none;

			flex-grow: 1;

			transition: all 0.15s;
			&:hover {
				background-color: $green;
			}
		}

		.pdf {
			background-color: $redorange;
			padding: $padding-medium $padding-large;
			border-radius: $border-radius-medium;
			color: $text-dark;

			transition: all 0.15s;
			&:hover {
				background-color: $purple;
			}
		}
	}
}

header {
	width: 100vw;
	height: 100dvh;
	// background-image: url("/static/images/cppcourse.webp");
	object-fit: fill;

	display: flex;
	justify-content: right;
	align-items: center;

	position: relative;

	margin-bottom: $margin-large;

	.wallpaper {
		overflow: hidden;
		// .noise {
		// 	filter: contrast(2.0) brightness(0.1);
		// }

		.image {
			filter: brightness(80%) blur(2px);
			@media (max-width: $mobile) {
				object-fit: fill;
				width: 200%;
			}
		}
	}

	div.title {
		display: flex;
		flex-direction: column;
		margin: auto;

		justify-content: center;

		background-color: transparent;
		mask: linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,1) 33%, rgba(0,0,0,1) 100%);
		
		box-sizing: border-box;
		overflow: hidden;

		width: 100%;
		height: 100%;

		border: none;
		
		padding-right: 15ch;
		text-align: right;

		font-size: 1.3rem;

		@media (max-width: $mobile) {
			padding: $padding-large;
			text-align: center;
			mask: none;

			justify-content: center;
		}

		text-shadow: 0px 0px 50px transparentize($color: $text-dark, $amount: 0.5);
		color: $text-dark;

		h1 {
			animation: slide-in 1s forwards;
		}


		$slide-ammount: 15%;
		p.tagline {
			transform: translateX($slide-ammount);

			animation-delay: .5s;
			animation: slide-in 1s forwards;
			animation-delay: .5s;
			opacity: 0;

			color: transparentize($color: $text-dark, $amount: 0.5);
		}

		@keyframes slide-in {
			0% {
				opacity: 0;
				transform: translateX($slide-ammount);
			}
			100% {
				transform: translateX(0);
				opacity: inherit;
			}
		}
	}

	.backlink {
		color: $text-dark;
		text-decoration: none;
		font-size: 1.2rem;
		position: absolute;

		top: $padding-large;
		display: block;
		text-align: center;
		width: 100%;

		z-index: 10;

		@media (max-width: $mobile) {
			bottom: $padding-large;
		}

		transition: all 0.15s;
		&:hover {
			transform: translateY(-0.2em);
		}
	}

	.scroll-indicator {
		position: absolute;
		bottom: $margin-large;
		display: block;
		width: 100%;
		text-align: center;

		@keyframes bump {
			0% {
				transform: translateY(-50%);
			}
			25% {
				transform: translateY(0%);
			}
			100% {
				transform: translateY(-50%);
			}
		}

		color: $text-dark;
		font-size: 2em;

		@media (max-width: $mobile) {
			font-size: 1.4em;
		}

		& i {
			transform: translateY(-50%);
			animation: bump 1s infinite ease-out;
			&:nth-child(1) { animation-delay: 0.2s; }
			&:nth-child(2) { animation-delay: 0.4s; }
			&:nth-child(3) { animation-delay: 0.6s; }
		}
	}
}
