@import '../vars.scss';

header {
	$darken-ammount: 100%;
	z-index: 1;
	width: auto;
	background-color: darken(#121212, calc(100% - $darken-ammount));
	color: $text-dark;

	display: flex;
	align-items: center;
	justify-content: space-evenly;
	gap: $padding-large;

	margin-bottom: 2rem;
	padding: 10rem;
	overflow: hidden;

	position: relative;
	

	#pfp {
		flex-grow: 3;
		z-index: 3;
		width: 15vw;
		@media (max-width: $mobile) {
			width: 50%;
			flex-grow: 0;
		}

		img {
			position: relative;
			width: 100%;
			border-radius: 50%;
			box-shadow: 0px 0px 30px 10px $black;
		}
	}

	#intro {
		flex-grow: 7;

		@media (max-width: $mobile) {
			flex-grow: 0;
		}

		h1 {
			z-index: 3;
			font-weight: lighter;
			text-align: right;
			@media (max-width: $mobile) {
				text-align: center;
				font-size: 1.3em;
			}
			margin-bottom: $margin-medium;
		}
		
		p {
			padding-right: $padding-large;
			z-index: 3;
			text-align: right;
			i {
				margin-left: $margin-small;
			}
			@media (max-width: $mobile) {
				margin-top: $margin-small;
				text-align: center;
				padding: 0;
			}
		}

		margin: 0 $margin-large;
		max-width: min(120ch, 90%);
	}

	nav {
		display: flex;
		width: 100%;
		position: absolute;
		bottom: 0;
		gap: $padding-large;
		margin: $margin-large;
		justify-content: center;

		a {
			text-decoration: none;
			color: $white;
			font-size: 1.2rem;

			transition: all 0.1s;
			&:hover {
				transform: scale(1.1);
			}
		}
	}

	.social {
		position: absolute;
		right: 0;
		top: 0;
	}

	@media (max-width: $mobile) {
		flex-direction: column;
		justify-content: center;
		padding: $padding-small;
		padding-top: $padding-large;
	}

	box-sizing: border-box;
	height: 100dvh;
}

.light {
  pointer-events: none;
  mix-blend-mode: soft-light;
  // z-index: -1;
  width: 100vmax;
  height: 100vmax;
  position: absolute;
  z-index: 2;
}

.skills {
	display: flex;
	flex-wrap: wrap;
	gap: $padding-medium;
	justify-content: center;
	margin: auto;

	@media (max-width: $mobile) {
		gap: $margin-small;
	}

	p {
		padding: $padding-small $padding-medium;
		border-radius: 100vmax;
		color: $text-dark;
		font-weight: bolder;

		transition: all 0.1s;
		
		user-select: none;
		&:hover {
			transform: scale(1.05);
		}
	}

}

.skill-indicator {
	border-radius: 100vmax;
	color: $back-light;
	font-size: .9rem;
	padding: $padding-small $padding-medium;
}

.high {
	background-color: $green;
}
.medium {
	background-color: $blue;
}
.low {
	background-color: $redorange;
}
