header {
  z-index: 1;
  width: auto;
  background-color: #121212;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 24px;
  margin-bottom: 2rem;
  padding: 10rem;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  height: 100dvh;
}
header #pfp {
  flex-grow: 3;
  z-index: 3;
  width: 15vw;
}
@media (max-width: 600px) {
  header #pfp {
    width: 50%;
    flex-grow: 0;
  }
}
header #pfp img {
  position: relative;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0px 0px 30px 10px #121212;
}
header #intro {
  flex-grow: 7;
  margin: 0 24px;
  max-width: min(120ch, 90%);
}
@media (max-width: 600px) {
  header #intro {
    flex-grow: 0;
  }
}
header #intro h1 {
  z-index: 3;
  font-weight: lighter;
  text-align: right;
  margin-bottom: 16px;
}
@media (max-width: 600px) {
  header #intro h1 {
    text-align: center;
    font-size: 1.3em;
  }
}
header #intro p {
  padding-right: 24px;
  z-index: 3;
  text-align: right;
}
header #intro p i {
  margin-left: 8px;
}
@media (max-width: 600px) {
  header #intro p {
    margin-top: 8px;
    text-align: center;
    padding: 0;
  }
}
header nav {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 0;
  gap: 24px;
  margin: 24px;
  justify-content: center;
}
header nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
  transition: all 0.1s;
}
header nav a:hover {
  transform: scale(1.1);
}
header .social {
  position: absolute;
  right: 0;
  top: 0;
}
@media (max-width: 600px) {
  header {
    flex-direction: column;
    justify-content: center;
    padding: 8px;
    padding-top: 24px;
  }
}

.light {
  pointer-events: none;
  mix-blend-mode: soft-light;
  width: 100vmax;
  height: 100vmax;
  position: absolute;
  z-index: 2;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin: auto;
}
@media (max-width: 600px) {
  .skills {
    gap: 8px;
  }
}
.skills p {
  padding: 8px 16px;
  border-radius: 100vmax;
  color: #ffffff;
  font-weight: bolder;
  transition: all 0.1s;
  user-select: none;
}
.skills p:hover {
  transform: scale(1.05);
}

.skill-indicator {
  border-radius: 100vmax;
  color: #ffffff;
  font-size: 0.9rem;
  padding: 8px 16px;
}

.high {
  background-color: #98c379;
}

.medium {
  background-color: #4f8bbc;
}

.low {
  background-color: #d0717a;
}

/*# sourceMappingURL=index.css.map */
