@import '../vars.scss';

.markdown {
	article {
		width: min(80ch, 90%);
		margin: auto;
		text-align: justify;
		p, span {
			text-indent: $margin-medium;
			overflow-x: auto;
		}
	}

	code {
		text-align: left;
		margin: auto;
		&, * {
			font-family: monospace !important;
		}

		padding: none !important;

	}
	.runner {
		color: $text-light;
		text-decoration: none;
		display: block;
		text-align: right;
		opacity: .5;

		transition: opacity .15s;
		&:hover {
			opacity: 1;
		}
	}

	div > pre[class^=language-] {
		margin: auto;
		width: min(120ch, 80%);
		&, code {
			// background-color: $back-dark !important;
			background-color: $back-front !important;
		}
		margin: $margin-medium auto ;
		padding: $padding-medium;
		border-radius: $border-radius-medium;

		overflow-x: auto;
	}

	svg, img {
		border-radius: $border-radius-medium;
		position: relative;
		margin: $margin-small auto;
	}

	span.media-embed img {
		left: 50%;
		transform: translateX(-50%);
	}

	.excalidraw-embedded-img {
		margin: auto;
	}

	img {
		// left: 50%;
		// transform: translateX(-50%);
		width: min(60ch, 90%);
	}

	table {
		border-spacing: 0;
		// border-collapse: collapse;
		width: 90%;
		margin: $margin-large auto;

		thead {
			background-color: $back-front;
		}

		td, th {
			padding: $padding-small;
		}

		td {
			border-bottom: 2px solid $light-gray;
		}
	}

	.callout {
		margin: $margin-large auto;
		border-radius: $border-radius-large;
		padding: $padding-medium;
		box-sizing: border-box;

		background-color: lighten($highlight, 40%);
		// border-left: .5rem solid $highlight;
		&[data-callout=example] {
			background-color: lighten($purple, 30%);
			.callout-title {
				color: $purple;
			}
			strong { color: $purple; }
			a { color: $purple; }
		}
		&[data-callout=summary] {
			background-color: lighten($green, 40%);
			.callout-title {
				color: $green;
			}
			strong { color: $green; }
			a { color: $green; }
		}
		&[data-callout=important] {
			background-color: lighten($redorange, 35%);
			.callout-title {
				color: $redorange;
			}
			strong { color: $redorange; }
			a { color: $redorange; }
		}

		// box-shadow: 2px 2px 20px 3px transparentize($color: $back-dark, $amount: 0.8);
		// background-color: $back-front;

		.callout-title {
			color: $highlight;
			font-size: 1.2rem;
			font-weight: bold;
		}

		.callout-icon {
			display: none;
		}

		div > pre[class^=language-] {
			background-color: $white !important;
			& * {
				background-color: $white !important;
			}
		}
	}

	.excalidraw-svg-center * {
		font-family: Virgil;
	}

	div.math, span.math {
		* {
			font-style: italic !important;
			color: $gray !important;
			font-weight: bold;
		}
		
		overflow-x: auto;
		overflow-y: show;
	}

	h1, h2, h3, h4, h5, h6 {
		color: lighten($color: $text-light, $amount: 30%);
	}

	h1 {
		font-size: 1.6rem;
	}

	h2 {
		font-size: 1.2rem;
	}

	h3 {
		font-size: 1.1rem;
	}
}
