.markdown article {
  width: min(80ch, 90%);
  margin: auto;
  text-align: justify;
}
.markdown article p, .markdown article span {
  text-indent: 16px;
  overflow-x: auto;
}
.markdown code {
  text-align: left;
  margin: auto;
  padding: none !important;
}
.markdown code, .markdown code * {
  font-family: monospace !important;
}
.markdown .runner {
  color: #121212;
  text-decoration: none;
  display: block;
  text-align: right;
  opacity: 0.5;
  transition: opacity 0.15s;
}
.markdown .runner:hover {
  opacity: 1;
}
.markdown div > pre[class^=language-] {
  margin: auto;
  width: min(120ch, 80%);
  margin: 16px auto;
  padding: 16px;
  border-radius: 8px;
  overflow-x: auto;
}
.markdown div > pre[class^=language-], .markdown div > pre[class^=language-] code {
  background-color: #FAFAFA !important;
}
.markdown svg, .markdown img {
  border-radius: 8px;
  position: relative;
  margin: 8px auto;
}
.markdown span.media-embed img {
  left: 50%;
  transform: translateX(-50%);
}
.markdown .excalidraw-embedded-img {
  margin: auto;
}
.markdown img {
  width: min(60ch, 90%);
}
.markdown table {
  border-spacing: 0;
  width: 90%;
  margin: 24px auto;
}
.markdown table thead {
  background-color: #FAFAFA;
}
.markdown table td, .markdown table th {
  padding: 8px;
}
.markdown table td {
  border-bottom: 2px solid #d8dee9;
}
.markdown .callout {
  margin: 24px auto;
  border-radius: 12px;
  padding: 16px;
  box-sizing: border-box;
  background-color: #e3ecf4;
}
.markdown .callout[data-callout=example] {
  background-color: #f0e6f5;
}
.markdown .callout[data-callout=example] .callout-title {
  color: #b17bc7;
}
.markdown .callout[data-callout=example] strong {
  color: #b17bc7;
}
.markdown .callout[data-callout=example] a {
  color: #b17bc7;
}
.markdown .callout[data-callout=summary] {
  background-color: white;
}
.markdown .callout[data-callout=summary] .callout-title {
  color: #98c379;
}
.markdown .callout[data-callout=summary] strong {
  color: #98c379;
}
.markdown .callout[data-callout=summary] a {
  color: #98c379;
}
.markdown .callout[data-callout=important] {
  background-color: #fcf7f8;
}
.markdown .callout[data-callout=important] .callout-title {
  color: #d0717a;
}
.markdown .callout[data-callout=important] strong {
  color: #d0717a;
}
.markdown .callout[data-callout=important] a {
  color: #d0717a;
}
.markdown .callout .callout-title {
  color: #4f8bbc;
  font-size: 1.2rem;
  font-weight: bold;
}
.markdown .callout .callout-icon {
  display: none;
}
.markdown .callout div > pre[class^=language-] {
  background-color: #ffffff !important;
}
.markdown .callout div > pre[class^=language-] * {
  background-color: #ffffff !important;
}
.markdown .excalidraw-svg-center * {
  font-family: Virgil;
}
.markdown div.math, .markdown span.math {
  overflow-x: auto;
  overflow-y: show;
}
.markdown div.math *, .markdown span.math * {
  font-style: italic !important;
  color: #3e4452 !important;
  font-weight: bold;
}
.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
  color: #5f5f5f;
}
.markdown h1 {
  font-size: 1.6rem;
}
.markdown h2 {
  font-size: 1.2rem;
}
.markdown h3 {
  font-size: 1.1rem;
}

/*# sourceMappingURL=markdown.css.map */
