.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100dvh;
  background-color: #ffffff;
}
.container .code {
  font-size: 8rem;
  font-family: monospace;
}
.container * {
  color: #121212;
}
.container a {
  color: #4f8bbc;
}
.container .error-name {
  font-size: 2rem;
  margin-bottom: 24px;
}

/*# sourceMappingURL=notfound.css.map */
