@import '../vars.scss';

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	
	width: 100vw;
	height: 100dvh;

	.code {
		font-size: 8rem;
		font-family: monospace;
	}

	background-color: $back-light;
	* {
		color: $text-light;
	}

	a {
		color: $blue;
	}

	.error-name {
		font-size: 2rem;
		margin-bottom: $margin-large;
	}
}
