footer {
  background-color: #121212;
  color: #ffffff;
  position: relative;
  bottom: 0;
  width: 100vw;
  padding: 24px;
  margin-top: 24px;
  box-sizing: border-box;
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .text {
  width: 100%;
}
footer .license {
  width: 8rem;
  position: absolute;
  right: 16px;
  bottom: 16px;
  box-sizing: border-box;
}
@media (max-width: 600px) {
  footer .license {
    position: relative;
    right: initial;
    bottom: initial;
  }
}

/*# sourceMappingURL=footer.css.map */
