@import './vars.scss';

footer {
	background-color: $back-dark;
	color: $text-dark;
	position: relative;
	bottom: 0;
	width: 100vw;
	padding: $padding-large;
	margin-top: $margin-large;

	box-sizing: border-box;
	position: relative;
	bottom: 0;

	.text {
		width: 100%;
	}

	display: flex;
	flex-direction: column;
	align-items: center;

	.license {
		width: 8rem;
		position: absolute;
		right: $margin-medium;
		bottom: $margin-medium;
		box-sizing: border-box;

		@media (max-width: $mobile) {
			position: relative;
			right: initial;
			bottom: initial;
		}
	}
}
