@import './vars.scss';

div.err-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100dvh;

	.title {
		font-size: 4rem;
		color: $redorange;
	}

	.description {
		margin-bottom: $margin-large;
	}
}
