div.err-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}
div.err-container .title {
  font-size: 4rem;
  color: #d0717a;
}
div.err-container .description {
  margin-bottom: 24px;
}

/*# sourceMappingURL=generic_error.css.map */
