@font-face {
  font-family: "Virgil";
  src: url("/static/fonts/Virgil.woff2");
}
* {
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: #ffffff;
  color: #121212;
  position: relative;
}

section {
  min-height: 100vh;
}
section > img {
  display: block;
  width: min(90%, 80ch);
  margin: 16px auto;
  border-radius: 8px;
}

a {
  color: #4f8bbc;
}

strong {
  color: #4f8bbc;
}

.social {
  display: flex;
  gap: 16px;
  margin: 24px;
}
.social img {
  width: 35px;
  transition: transform 0.15s;
}
.social img:hover {
  transform: translateY(-3px);
}

article {
  width: min(100ch, 90%);
  margin: auto;
  padding-top: 24px;
  padding-bottom: 24px;
}
article p {
  margin: 16px 0;
}

h1 {
  margin-bottom: 16px;
}

em {
  opacity: 0.6;
}

hr {
  background-color: #121212;
  width: 80%;
  height: 1.5px;
  margin: auto;
}

h2 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 16px;
}

ul {
  padding-left: 48px;
}
@media (max-width: 600px) {
  ul {
    padding-left: 16px;
  }
}

.semi {
  opacity: 0.5;
  font-weight: normal;
}

.spacer-small {
  height: 8px;
}

.spacer-medium {
  height: 16px;
}

.spacer-large {
  height: 24px;
}

header {
  overflow-x: hidden;
}
header .wallpaper {
  position: absolute;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  content: "";
  transform: translateX(20px);
  z-index: -1;
  overflow: hidden;
}
header .wallpaper * {
  width: 100%;
  height: 100%;
}
header .wallpaper img.image {
  top: 0;
  position: absolute;
  object-fit: cover;
  object-position: left;
}
header .wallpaper .noise {
  background-size: 220px;
  background-image: url("/static/images/speckle_noise.webp");
  z-index: 100;
  object-fit: none;
  background-repeat: repeat;
  filter: contrast(0.4) brightness(0.1);
  mix-blend-mode: lighten;
}

/*# sourceMappingURL=style.css.map */
