@import './vars.scss';

@font-face {
	font-family: "Virgil";
	src: url('/static/fonts/Virgil.woff2');
}

* {
	border: none;
	padding: 0;
	margin: 0;
	outline: none;

	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

	// scroll-behavior: smooth;
}

body {
	background-color: $back-light;
	color: $text-light;
	position: relative;
}

section {
	min-height: 100vh;

	& > img {
		display: block;
		width: min(90%, 80ch);
		margin: $margin-medium auto;
		border-radius: $border-radius-medium;
	}
}

a {
	color: $blue;
}

strong {
	color: $blue;
}

.social {
	display: flex;
	gap: $padding-medium;
	margin: $margin-large;

	img {
		width: 35px;
		transition: transform .15s;
		&:hover {
			transform: translateY(-3px);
		}
	}
}

article {
	width: min(100ch, 90%);
	margin: auto;
	padding-top: $padding-large;
	padding-bottom: $padding-large;

	p {
		margin: $margin-medium 0;
	}
}

// Default components
h1 {
	margin-bottom: $margin-medium;

}

em {
	opacity: 0.6;
}

hr {
	background-color: $back-dark;
	width: 80%;
	height: 1.5px;
	margin: auto;
}

h2 {
	font-size: 1.1rem;
	font-weight: bold;
	margin-bottom: $margin-medium;
}

ul {
	padding-left: $padding-large * 2;
	@media (max-width: $mobile) {
		padding-left: $padding-medium;
	}
}

.semi {
	opacity: 0.5;
	font-weight: normal;
}

.spacer-small {
	height: $padding-small;
}

.spacer-medium {
	height: $padding-medium;
}

.spacer-large {
	height: $padding-large;
}

header {
	overflow-x: hidden;
	.wallpaper {
		$max-translation: 20px;
		position: absolute;
		width: calc(100% + $max-translation);
		height: calc(100% + $max-translation);
		content: "";
		transform: translateX($max-translation);


		z-index: -1;
		* {
			width: 100%;
			height: 100%;
		}
	
		img.image {
			// filter: blur(2px);
			top: 0;
			position: absolute;
			object-fit: cover;
			object-position: left;
		}

		overflow: hidden;

		.noise {
			background-size: 220px;
			background-image: url('/static/images/speckle_noise.webp');
			z-index: 100;
			object-fit: none;
			background-repeat: repeat;
			filter: contrast(0.4) brightness(0.1);
			mix-blend-mode: lighten;
		}
	}
}
