// Color Variables
$black: #121212;
$dark-gray: #2c323d;
$gray: #3e4452;
$blue: #4f8bbc;
$green: #98c379;
$purple: #b17bc7;
$redorange: #d0717a;
$pink: #d70976;
$light-gray: #d8dee9;
$white: #ffffff;

$text-dark: $white;
$text-light: $black;

$highlight: $blue;

$back-dark: $black;
$back-light: $white;
$back-front: #FAFAFA;

// Padding Variables
$padding-small: 8px;
$padding-medium: 16px;
$padding-large: 24px;

// Margin Variables
$margin-small: 8px;
$margin-medium: 16px;
$margin-large: 24px;

// Border Radius Variables
$border-radius-small: 4px;
$border-radius-medium: 8px;
$border-radius-large: 12px;


$mobile: 600px;
