<html>
	<head>
		{% include "components/header_base.html" %}
		<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/courserunner.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/runno.css') }}">
		<!-- Include the Runno CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='runno/dist/style.css') }}">
	</head>
	<body>
		{% set title = 'Editor interactivo' %}
		{% include 'components/generic_header.html' %}

		<!-- Include the Runno runtime script -->
		<article>
			<section>
				<h1><i class="fa fa-hand"></i> ¡Bienvenido al Editor Interactivo de C++!</h1>
				<p><strong>Instrucciones:</strong> Escribe tu código en C++ en el editor y presiona el botón <strong>Run</strong> para compilar y ver la salida abajo. ¿Necesitas ayuda? Revisa el código de ejemplo o consulta la <a href="https://en.cppreference.com/w/" target="_blank">documentación de C++</a>.</p>
				<h1><i class="fa fa-code"></i>&nbsp Editor interactivo</h1>
				<iframe id="snippet" class="runno" src="https://runno.run/?editor=1&runtime=clangpp&code={{ code or 'I2luY2x1ZGUgPGlvc3RyZWFtPgoKLy8gUHVlZGVzIGVkaXRhciBlbCBj82RpZ28hCmludCBtYWluKCkgewoJc3RkOjpjb3V0IDw8ICJIb2xhIG11bmRvISIgPDwgc3RkOjplbmRsOwoJcmV0dXJuIDA7Cn0=' }}" crossorigin allow="cross-origin-isolated" frameBorder="0"></iframe>
				<p style="text-align: right;"><a href="https://runno.dev">Powered by runno</a>&nbsp <i class="fa fa-bolt"></i></p>
				<div class="spacer-medium"></div>
				<div class="go-back" onclick="history.back()">Volver a la página anterior</div>
			</section>
		</article>
	</body>
</html>
