<html>

<head>
	{% include "components/header_base.html" %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/cppcourse.css') }}">
</head>

<body>
	<!-- {% set title = 'Curso de C++' %} -->
	<!-- {% include 'components/generic_header.html' %} -->
	<section>
		<header>
			<div class="wallpaper">
				<img src="{{ url_for('static', filename='images/cppcourse.webp') }}" alt="" class="image">
				<div class="noise"></div>
			</div>
			<a href="/" class="backlink"><i class="fa fa-home"></i>&nbsp Página principal</a>
			<div class="title">
				<h1><span>Curso de programación</span> &nbsp<i class="fa fa-code"></i></h1>
				<p class="tagline">Introducción a la programación con C++</p>
			</div>
			<div class="scroll-indicator">
				<i class="fa fa-chevron-down"></i>
				<i class="fa fa-chevron-down"></i>
				<i class="fa fa-chevron-down"></i>
			</div>
		</header>
		<article>
			<h1><i class="fa fa-graduation-cap"></i> Bienvenidos al Curso de C++</h1>
			<p>
				Bienvenidos a este viaje por el aprendizaje de C++. Comencé a programar a los 14 años, y ahora quiero
				llevar esa experiencia a un curso diseñado para ti.
			</p>
			<h2><i class="fa fa-person"></i> Audiencia</h2>
			<p>
				Si tienes ganas de aprender a programar y cuentas con algunos conocimientos básicos de matemáticas, este
				curso es para ti. La promesa es sencilla: entendimiento claro sin magia de por medio.
			</p>
			<h2><i class="fa fa-magnifying-glass"></i> Objetivos</h2>
			<p>
				El objetivo de este curso es brindarte una comprensión sólida de los fundamentos de la programación. A
				través de explicaciones claras y ejercicios prácticos, desmitificaremos juntos el funcionamiento de los
				programas.
			</p>
			<h2><i class="fa fa-wrench"></i> Herramientas</h2>
			<p>
				Para poder ejeutar y escribir código recomiendo las siguientes herramientas (en orden ascendente de
				complejidad).
			</p>
			<ul>
				<li><a href="https://www.onlinegdb.com/">Online GDB</a>: es un entorno web que permite ejecutar y hacer
					<em>debug</em> de trozos de código. Tiene algunas limitaciones como la posibilidad de tener
					únicamente un archivo, o no tener <em>autocompletado</em>.
				</li>
				<li><a href="https://code.visualstudio.com/">Visual Studio Code</a>:
					es un entorno bastante más profesional, pero que tenéis que instalar en vuestro ordenador.
					Dependiendo del sistema operativo hacer que funcione con <strong>C++</strong> puede ser más
					complicado (especialmente en Windows). Pero con este editor tenéis características como
					<strong>autocompletado</strong> o <strong>linter</strong>. Además de poder crear proyectos más
					grandes.
				</li>
				<li><a href="https://www.qt.io/product/development-tools">Qt Creator</a>:
					esta es un entorno de desarrollo integrado (IDE), por lo que require muy poca configuración pero
					funciona únicamente para los lenguajes que soporta. Además, permite crear interfaces de usuario con
					el <em>framework</em> Qt que ya veremos en la sección avanzada del curso. Recomiendo esta si queréis
					utilizar un entorno ya configurado, pero el conocimiento que adquiráis será más limitado.
				</li>
				<li><a href="https://neovim.io/">NeoVim</a>:
					es el editor que uso yo. Super extensible y configurable. Bastante más complicado de utilizar que
					los demás y limitado a <strong>Linux</strong>.
				</li>
			</ul>
			<p>
				Además de estas herramientas también he metido un <a href="/content/course_runner">entorno de
					ejecución</a> dentro de esta página al que
				podéis enviar el código de los ejemplos haciendo click en el botón de <strong>enviar al entorno</strong>
			</p>
			<p>
				Recomiendo utilizar un entorno de <strong>Linux</strong> para desarrollar en <strong>C++</strong>. Los
				compiladores destinados a la plataforma de Windows suelen ser bastante peores, además de difíciles de
				instalar. A no ser que estéis utilizando Qt Creator <em>(u otra IDE)</em>, no recomiendo utilizar
				<strong>Windows</strong>.
			</p>
			<hr>
			<p>
				Prepárate para descubrir el potencial de C++ y desarrollar una base firme que te acompañará en tu
				carrera de desarrollo de software. ¿Listo para empezar?
			</p>
			<h1><i class="fa fa-bars"></i> Partes</h1>
			<h2>Nivel básico</h2>
			<div class="part-container">
				{% for title, part in parts.items() %}
				<div class="part">
					<a href="/notes/cppcourse/{{ part }}/{{ part }}.html?title={{ title }}" class="main">
						<i class="fa fa-book"></i> {{ title }}
					</a>
					<a href="/static/content/cppcourse/{{ part }}/{{ part }}.pdf" class="pdf">
						<i class="fa fa-file-pdf"></i>
					</a>
				</div>
				{% endfor %}
			</div>
		</article>
	</section>
	{% include 'components/footer.html' %}
</body>

</html>
