<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/generic_error.css') }}">
	</head>
	<body>
		<div class="err-container">
			<h1 class="title">{{ err_title }}!</h1>
			<p class="description">{{ err_description }}</p>
			<a href="#" onclick="history.back(); return false">Go back</a>
			<a href="/">Go to main page</a>
		</div>
	</body>
</html>
