<html>
	<head>
		{% include "components/header_base.html" %}
		<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/index.css') }}">
		<script src="{{ url_for('static', filename='js/pages/index.js') }}"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
	</head>
	<body>
		<header>
			<div class="wallpaper">
				<div class="noise"></div>
			</div>
			<div id="pfp"><img src="{{ url_for('static', filename='images/pfp.webp') }}" alt=""></div>
			<div id="intro">
				{% for i in range(10) %}
					<div class="light"></div>
				{% endfor %}
				{% include 'components/social.html' %}
				<h1>{{ name }} <cite style="opacity: 0.5;">{{ pronouns }}</cite></h1>
				<p>Coding since 14, always exploring new tech frontiers. <i class="fa-solid fa-code"></i></p>
				<p>Dabbled in various coding styles - Functional to OOP and everything in between. <i class="fa-solid fa-brain"></i></p>
				<p>Now, getting hands-on with robotics at Eurobot with my uni's team! <i class="fa-solid fa-robot"></i></p>
				<p>Sharing my knowledge with a C++ programming course <i class="fa-solid fa-graduation-cap"></i></p>
			</div>
			<nav>
				<a href="#projects">Projects</a>
				<a href="#skills">Skills</a>
			</nav>
		</header>
		<section>
			<article>
				<h1><i class="fas fa-code"></i> Hey there!</h1>
				<p>
					I started coding when I was 14 and it quickly turned from a hobby into a passion. Functional programming is my jam,
					especially with Haskell for research and Rust when I'm getting hands-on.
				</p>
				<p>
					When it comes to languages, C++ is where I'm at home. It's my go-to for anything from embedded programming with AVR
					Atmega328p to ESP microcontrollers. And yeah, I can handle C when I need to get closer to the metal.
				</p>
				<p>
					This webpage? I spun it up myself. I've got a fair share of web dev skills in my back pocket. Python's another
					favorite—its simplicity is deceptive, and I like tapping into its full potential with cool features like typing and
					dynamic module loading.
				</p>
				<p>
					These days, I'm getting a kick out of category theory and geeking out over the math behind functional programming.
					Rust and Haskell? Their type systems are a playground for my brain.
				</p>
				<p>
					Outside of the code editor, I love getting involved in the community. I've shown off my projects at OSHWDem and
					worked with some awesome folks on my university's robotics team. Up next? I'm putting together a programming course
					that my uni's going to credit. Stay tuned!
				</p>
			</article>
			<article id="skills">
				<h1><i class="fa fa-bolt"></i> Skills &nbsp&nbsp
					<span class="low skill-indicator">Low</span>
					<span class="medium skill-indicator">Medium</span>
					<span class="high skill-indicator">High</span>
				</h1>
				<div class="spacer-medium"></div>
				<p>
					This are some of the skills I've collected over the years I've been programming. This list is by no means finished and
					I'm expanding my knowledge day by day (when university let's me).
				</p>
				<div class="skills">
					{% for skill in skills %}
						<p class="{{ skill.level.value }}">
							<i class="{{ skill.icon }}"></i> {{ skill.name }}
						</p>
					{% endfor %}
				</div>
			</article>
			<article id="projects">
				<h1><i class="fa fa-trowel-bricks"></i> Projects</h1>
				<ul>
					<li>
						<strong><a href="/content/cppcourse">Programming course</a></strong>:
						a C++ programming course intended for new programmers taught <strong>in Spanish</strong>.
					</li>
					<li>
						<strong><a href="https://gitlab.com/Diemar2002/personal-webpage" target="_blank">This webpage</a></strong>:
						I created this webpage with the intention to post about the stuff I learn everyday.

					</li>
				</ul>
			</article>
		</section>
		{% include 'components/footer.html' %}
		<!------------------------------------------------------------------------------------>
		<!----------------------------------Mandatory BLÅHAJ---------------------------------->
		<!------------------------------------------------------------------------------------>
		<!-------------------------------------------,(((/------------------------------------>
		<!-----------------------------------------/(((((------------------------------------->
		<!----------------------------------------((((#((------------------------------(//---->
		<!---------------------------------------(((((((.---------------------------*(((/----->
		<!-------------------------------------/(######/--------------------------*((((/------>
		<!----------------------------------*//%#####((/-------------------------((#((/------->
		<!----------------,*/********/////////////////(//*-----------(%*------,((##((--------->
		<!-------,*/((///(//////////((/(///////(/////(////*,(*#((/(/((//////###(###(/(-------->
		<!----/(((((((//((///((////((((((/(((((((((((((((((/(((##((#%(##(/((///*(&#(##/------->
		<!---/#((%(#(((((//#((((((((((((((((((((((((#(((((((((((/##(((((//((//*----####(/----->
		<!----(((###(###(#(#####(###############((#((((((((/((//(((#/(/////------------,,----->
		<!------,(###%####%&%#############(#(#(####(((((((/(((/////*//,----------------------->
		<!----------.-.....*#(#######(((###(#(##(##(((/(/(/////,------------------------------>
		<!-----------..-....,..........,..*#%#######/(---------------------------------------->
		<!----------------..--.............,*%%%%#%((((/-------------------------------------->
		<!------------------------**,,,****//*(##((###(#(((----------------------------------->
		<!-----------------------------------------&#(#/#((((((((#---------------------------->
		<!-------------------------------------------------------------------------------LMR-->
	</body>
</html>
