<html>
	<head>
		{% include "components/header_base.html" %}
		<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/markdown.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/note.css') }}">
		<!-- Include the highlight.js library -->
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/styles/xcode.min.css">
		<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/highlight.min.js"></script>
		<script defer>hljs.highlightAll();</script>
	</head>
	<body>
		{% set header_return = '#' %}
		<section id="content" class="markdown">
			<div onclick="history.back(); return false">{% include 'components/generic_header.html' %}</div>
			<div class="spacer-large"></div>
			<article>
				{{ content | safe }}
			</article>
		</section>
		<p class="goup" onclick="window.scrollTo(0, 0);">
			^ Go back to top ^
		</p>
		{% include 'components/footer.html' %}
	</body>
</html>
