<html>
	<head>
		{% include "components/header_base.html" %}
		<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/notfound.css') }}">
	</head>
	<body>
		<div class="container">
			<h1 class="code">404</h1>
			<div class="error-name">Page not found</div>
			<a href="#" onclick="history.back();">Go back</a>
			<a href="/">Go back to main page</a>
		</div>
	</body>
</html>
